html,
body {
 height: 100%;
 position: relative;
 color: aliceblue;
 scroll-behavior: smooth;
}

li{
  list-style: none;
  color: rgb(26, 25, 23);
}

.header-div{
  background-color: #13373e;
  text-align: center;
  width: 100%;
  top: 0;
  position: fixed;
  overflow: hidden;
  left: 0;
  z-index: 99;
}

.authors-div li{
  text-align: center;
  color: aliceblue;
}
.main-page.container {
  margin-top: 4.5rem;
}
.footer{
  background-color: #13373e;
  height: 5em;
  bottom: 0;
  width: 100%;
  position: fixed;
  color: aliceblue;
}

img.bookImg.card-img {
  width: 15rem;
}

.book {
  display: inline-flex;
  width: 100%;
  height: auto;
  color: black;
  padding-left: 10rem;
}
.card-img-top{
  max-height: 19rem;
}

.row{
  margin-bottom: 5rem;
}
.addBook {
  position: fixed;
  width: 50px;
  right: 82px;
  bottom: 7rem;
  border-radius: 50%;
}


.col-3 {
  display: inline-flex;
}

.search{
  margin: 0 auto;
  padding: 10px;
  width: 60%;
}

.arrow .btn-secondary{
  color: #13373e;
  background-color: #fa957600;
  border-color: rgb(207, 104, 104);
} 


.rows{
  display: flex;
  flex-wrap: wrap;
}
.cards{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 10.5rem;
  margin: 7px;
}

.arrow{
  width: 10px;
}

.list-groups{
  margin-top: 8px;
}
button.remove-btn.delete.btn.btn-danger.btn-sm {
  width: fit-content;
  float: right;
}

@media(width: 414px){
  .cards {
    width: 9.4rem;
  }
  .book{
    display: inline-block;
    padding-left: 4rem;
  }

}
@media(max-width: 1366px){
  .card{
    width: 15rem;
    margin: 11px;
  }
  .rows{
    margin-left: 21px;
    margin-bottom: 5rem;
  }
  .addBook{
    right: 59px;
  }
}


@media(max-width: 375px){
  .cards{
    width: 8.2rem;
    margin: 5px;
  }
  .addBook{
    width: 40px;
    right: 4px;
  }
  .book{
    display: inline-block;
    padding-left: 2.5rem;
  }
}

@media(max-width: 320px){
  .cards{
    width: 7.5rem;
  }
  .rows{
    margin-left: 0;
  }
}

@media(max-width: 360px){
  .rows{
    margin-left: 0;
  }
  .addBook{
    right: 4px;
    width: 40px;
  }
}

@media(width: 411px){
  .cards{
    width: 8.7rem;
  }
  .addBook{
    right: 8px;
  }
  .book{
    display: inline-block;
    padding-left: 5rem;
  }
}
